<section class="page page-marketing">
    <section class="section">
        <div class="container">
            <div class="row">
                <form name="newPizza" class="form" novalidate>
                    <fieldset ng-disabled="newPizza.$processing">
                        <div class="col-md-7">
                            <h2 class="display-3">Create New Pizza</h2>
                            <div class="form-group" has-validation="newPizza.name">
                                <label for="name">Pizza Name</label>
                                <input type="text" class="form-control" name="title" ng-model="ctrl.newPizza.name" placeholder="Pizza Name" required />
                            </div>
                            <div class="form-group" has-validation="newPizza.description">
                                <label for="description">Pizza Description</label>
                                <textarea class="form-control" name="description" ng-model="ctrl.newPizza.description" placeholder="Pizza Description" required></textarea>
                            </div>
                            <button class="btn btn-success" type="submit"
                                submit="newPizza.$processing"
                                ng-disabled="newPizza.$invalid || newPizza.$processing"
                                ng-click="ctrl.createPizza(ctrl.newPizza, newPizza)">
                                <i class="material-icons">&#xE899;</i>
                                Save
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</section>
